# Dataset

> A collection of datasets

In [ ]:
#| default_exp dataset

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
from fastbook import *

In [ ]:
#| export
def get_antibiotics():
    "Deduplicated dataset from the cell paper: A Deep Learning Approach to Antibiotic Discovery"
    df = pd.read_csv("https://github.com/sky1ove/tools/raw/main/dataset/antibiotics_2335.csv")
    print(df.shape, df.columns.tolist())
    return df

In [ ]:
show_doc(get_antibiotics)

---

### get_antibiotics

>      get_antibiotics ()

Deduplicated dataset from the cell paper: A Deep Learning Approach to Antibiotic Discovery

In [ ]:
get_antibiotics()

(2335, 4) ['name', 'SMILES', 'inhibition', 'activity']

,name,SMILES,inhibition,activity
0,CEFPIRAMIDE,Cc1cc(O)c(C(=O)NC(C(=O)NC2C(=O)N3C(C(=O)O)=C(CSc4nnnn4C)CSC23)c2ccc(O)cc2)cn1,0.041572,1
1,GEMIFLOXACIN MESYLATE,CON=C1CN(c2nc3c(cc2F)c(=O)c(C(=O)O)cn3C2CC2)CC1CN.CS(=O)(=O)O,0.041876,1
2,POLYMYXIN B SULFATE,CCC(C)CCCCC(=O)NC(CCN)C(=O)NC(C(=O)NC(CCN)C(=O)NC1CCNC(=O)C(C(C)O)NC(=O)C(CCN)NC(=O)C(CCN)NC(=O)C(CC(C)C)NC(=O)C(Cc2ccccc2)NC(=O)C(CCN)NC1=O)C(C)O.O=S(=O)(O)O,0.041916,1
3,PRAXADINE HYDROCHLORIDE,Cl.N=C(N)n1cccn1,0.041964,1
4,CHLORHEXIDINE DIHYDROCHLORIDE,Cl.Cl.N=C(NCCCCCCNC(=N)NC(=N)Nc1ccc(Cl)cc1)NC(=N)Nc1ccc(Cl)cc1,0.042295,1
...,...,...,...,...
2330,COLFORSIN,C=CC1(C)CC(=O)C2(O)C(C)(O1)C(OC(C)=O)C(O)C1C(C)(C)CCC(O)C12C,1.235350,0
2331,ANAZOLENE SODIUM,O=S(=O)([O-])c1cc(O)c2c(N=Nc3ccc(Nc4ccccc4)c4c(S(=O)(=O)[O-])cccc34)cc(S(=O)(=O)[O-])cc2c1.[Na+].[Na+].[Na+],1.251650,0
2332,DAPSONE,Nc1ccc(S(=O)(=O)c2ccc(N)cc2)cc1,1.273150,0
2333,EVANS BLUE,Cc1cc(-c2ccc(N=Nc3ccc4c(S(=O)(=O)[O-])cc(S(=O)(=O)[O-])c(N)c4c3O)c(C)c2)ccc1N=Nc1ccc2c(S(=O)(=O)[O-])cc(S(=O)(=O)[O-])c(N)c2c1O.[Na+].[Na+].[Na+].[Na+],2.263200,0
2334,PROTOPORPHYRINOGEN IX,C=Cc1c(C)c2cc3[nH]c(cc4nc(cc5[nH]c(cc1n2)c(C)c5CCC(=O)O)c(CCC(=O)O)c4C)c(C)c3C=C,2.627450,0

In [ ]:
#| export
def get_g12d():
    "Dataset from paper"
    df = pd.read_csv("https://github.com/sky1ove/tools/raw/main/dataset/KRASi_g12d.csv")
    print(df.shape, df.columns.tolist())
    return df

In [ ]:
get_g12d() #may add sources col later

(722, 10) ['ID', 'SMILES', 'group', 'with_3F', 'racemic_trans', 'mixture_isomer', 'trans', 'Kd', 'IC50', 'erk_IC50']

,ID,SMILES,group,with_3F,racemic_trans,mixture_isomer,trans,Kd,IC50,erk_IC50
0,US_1,CN1CCC[C@H]1COc1nc(N2CC3CCC(C2)N3)c2cnc(cc2n1)-c1cc(O)cc2ccccc12,US,0,0,0,0,97.7,124.7,3159.1
1,US_2,CN1CCC[C@H]1COc1nc(N2CC3CCC(C2)N3)c2cnc(c(F)c2n1)-c1cc(O)cc2ccccc12,US,1,0,0,0,2.4,2.7,721.4
2,US_3,Cn1ccnc1CCOc1nc(N2CC3CCC(C2)N3)c2cnc(c(F)c2n1)-c1cc(O)cc2ccccc12,US,0,0,0,0,8.3,9.5,10283.1
3,US_4,Oc1cc(-c2ncc3c(nc(OCCc4ccccn4)nc3c2F)N2CC3CCC(C2)N3)c2ccccc2c1,US,0,0,0,0,155.7,496.2,8530.0
4,US_5,Cn1nccc1COc1nc(N2CC3CCC(C2)N3)c2cnc(c(F)c2n1)-c1cc(O)cc2ccccc12,US,0,0,0,0,294.8,722.9,8193.8
...,...,...,...,...,...,...,...,...,...,...
717,paper_34,FC1=C(C2=C(C=C(F)C=C3)C3=CC=C2)N=CC4=C1N=C(OCC56N(CCC6)CCC5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,paper,0,0,0,0,NaN,27.0,370.0
718,paper_35,FC1=C(C2=C(C(F)=C(F)C=C3)C3=CC=C2)N=CC4=C1N=C(OCC56N(CCC6)CCC5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,paper,0,0,0,0,NaN,7.0,97.0
719,paper_36,FC1=C(C2=C(C(C#C)=C(F)C=C3)C3=CC=C2)N=CC4=C1N=C(OCC56N(CCC6)CCC5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,paper,0,0,0,0,NaN,2.0,24.0
720,paper_37,FC1=C(C2=C(C(Cl)=CC=C3)C3=CC(O)=C2)N=CC4=C1N=C(OCC56N(CCC6)CCC5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,paper,0,0,0,0,NaN,2.0,63.0
721,paper_38,FC1=C(C2=C(C(C#C)=CC=C3)C3=CC(O)=C2)N=CC4=C1N=C(OCC56N(CCC6)CCC5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,paper,0,0,0,0,NaN,2.0,14.0

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()