In [25]:
from fastbook import *
import seaborn as sns

from tools.toolbox import *
from tools.dataset import Data

In [26]:
df = Data.get_g12d()

In [164]:
df.Kd.sort_values()

184    0.0000
686    0.0002
523    0.0400
178    0.1000
159    0.3000
        ...
717       NaN
718       NaN
719       NaN
720       NaN
721       NaN
Name: Kd, Length: 722, dtype: float64

## get duplicate table

In [28]:
t = tanimoto(df.copy(),target_col = "IC50")

In [29]:
t = t.query('SimilarityScore == 1')

In [107]:
dup = pd.DataFrame(t.groupby("ID1").ID2.unique()).reset_index()

In [130]:
ID1 = dup.ID1.tolist()

In [131]:
remove = []
for id2 in d.ID2:
    for id1 in ID1:
        if id1 in id2:
            remove.append(ID1.index(id1))

In [132]:
remove

[2, 7, 41, 42, 61, 58, 54, 38, 39, 52]

In [135]:
dup = dup[~dup.index.isin(remove)].reset_index(drop=True)

In [151]:
dup2 = pd.DataFrame(dup.apply(lambda x: [x["ID1"]] + [r for r in x["ID2"]], axis=1))

In [158]:
for i in ['IC50','erk_IC50','Kd']:
    dup2[i] = dup2[0].apply(lambda lis: [df[df.ID == l][i].values.item() for l in lis])
    dup2[f'{i}_mean'] = dup2[i].apply(lambda lis: round(np.mean([x for x in lis if not np.isnan(x)]),2))

/usr/local/lib/python3.9/dist-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/lib/python3.9/dist-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,

In [159]:
dup2

,0,IC50,erk_IC50,Kd,IC50_mean,erk_IC50_mean,Kd_mean
0,"[31678_11, 31678_32]","[98.0, 381.1]","[nan, nan]","[nan, nan]",239.55,NaN,NaN
1,"[625_14, 625_15, paper_13]","[30.8, nan, 68.0]","[8607.0, 7121.0, nan]","[36.0, 93.0, 9.0]",49.40,7864.00,46.00
2,"[646_121, 646_122]","[8.7, 234.2]","[2359.0, nan]","[nan, nan]",121.45,2359.00,NaN
3,"[646_4, 646_54, 646_55]","[3.7, 41.1, 774.8]","[994.0, 1133.0, 4876.0]","[1.5, 500733.2, 38684.4]",273.20,2334.33,179806.37
4,"[646_49, 646_117]","[0.5, 0.7]","[77.0, 76.0]","[nan, nan]",0.60,76.50,NaN
5,"[646_5, 646_18]","[1.6, 2.0]","[142.0, 70.0]","[nan, nan]",1.80,106.00,NaN
6,"[646_6, 646_7]","[0.8, 1.0]","[12.0, 13.0]","[nan, nan]",0.90,12.50,NaN
7,"[646_87, 646_88]","[271.4, 1088.1]","[13438.0, nan]","[704.8, 2102.1]",679.75,13438.00,1403.45
8,"[646_89, 646_90]","[10000.0, 1462.9]","[nan, nan]","[27058.2, 938.3]",5731.45,NaN,13998.25
9,"[646_93, 646_94]","[360.3, 851.7]","[16667.0, nan]","[nan, nan]",606.00,16667.00,NaN
10,"[646_95, 646_96]","[50.6, 331.2]","[16667.0, 16667.0]","[58.3, nan]",190.90,16667.00,58.30
11,"[US_109, paper_21]","[0.5, 2.0]","[330.5, 270.0]","[500000.0, nan]",1.25,300.25,500000.00
12,"[US_120, paper_18]","[28.8, 69.0]","[2092.9, 1300.0]","[42.1, nan]",48.90,1696.45,42.10
13,"[US_134, US_226]","[3.7, 25.9]","[895.4, 6745.4]","[6.9, nan]",14.80,3820.40,6.90
14,"[US_136, US_137]","[5150.6, 2633.4]","[nan, nan]","[nan, nan]",3892.00,NaN,NaN
15,"[US_179, paper_33]","[1.1, 3.0]","[71.2, 71.0]","[0.1, nan]",2.05,71.10,0.10
16,"[US_18, paper_17]","[76.8, 70.0]","[3742.5, 10000.0]","[3.1, nan]",73.40,6871.25,3.10
17,"[US_181, paper_16]","[572.5, 2960.0]","[12839.1, 10000.0]","[nan, nan]",1766.25,11419.55,NaN
18,"[US_185, paper_38]","[0.3, 2.0]","[7.1, 14.0]","[0.0, nan]",1.15,10.55,0.00
19,"[US_186, paper_26]","[29.2, 360.0]","[3383.1, 10000.0]","[nan, nan]",194.60,6691.55,NaN
20,"[US_187, paper_30]","[1.7, 6.0]","[450.1, 200.0]","[nan, nan]",3.85,325.05,NaN
21,"[US_189, paper_36]","[0.5, 2.0]","[24.1, 24.0]","[nan, nan]",1.25,24.05,NaN
22,"[US_2, paper_15]","[2.7, 5.0]","[721.4, 530.0]","[2.4, 0.8]",3.85,625.70,1.60
23,"[US_216, US_326, US_327, paper_24, paper_25]","[0.9, 1.9, 1.9, 2.0, 2.0]","[51.0, 121.6, 31.4, 64.0, 24.0]","[1.7, nan, nan, nan, nan]",1.74,58.40,1.70
24,"[US_218, US_459]","[1600.0, 1600.0]","[nan, nan]","[nan, nan]",1600.00,NaN,NaN
25,"[US_219, US_225]","[8.1, 9.2]","[2032.0, 3058.3]","[8.1, nan]",8.65,2545.15,8.10
26,"[US_223, US_224]","[7.1, 27.0]","[4272.7, 6375.8]","[nan, nan]",17.05,5324.25,NaN
27,"[US_234, paper_27]","[5.9, 12.0]","[409.0, 380.0]","[nan, nan]",8.95,394.50,NaN
28,"[US_236, paper_31]","[25.0, 86.0]","[2626.3, 1200.0]","[nan, nan]",55.50,1913.15,NaN
29,"[US_238, paper_32]","[16.1, 79.0]","[4656.9, 10000.0]","[nan, nan]",47.55,7328.45,NaN
30,"[US_251, US_330]","[0.2, 2.5]","[10.3, 11.8]","[nan, nan]",1.35,11.05,NaN
31,"[US_252, US_482, paper_1]","[0.4, 2.0, 2.0]","[0.8, 3.4, 2.0]","[nan, nan, 0.0002]",1.47,2.07,0.00
32,"[US_259, US_468]","[0.8, 2.0]","[3.9, 28.8]","[nan, nan]",1.40,16.35,NaN
33,"[US_26, paper_20, US_461]","[42.1, 62.0, 62.0]","[4282.7, 3000.0, nan]","[27.9, nan, nan]",55.37,3641.35,27.90
34,"[US_282, US_366]","[0.7, 0.5]","[4.9, 7.0]","[nan, nan]",0.60,5.95,NaN
35,"[US_286, US_289, US_287, US_288]","[17.2, 218.4, 90.7, 589.5]","[1733.1, nan, 8067.4, nan]","[nan, nan, nan, nan]",228.95,4900.25,NaN
36,"[US_3, paper_19]","[9.5, 30.0]","[10283.1, 3500.0]","[8.3, nan]",19.75,6891.55,8.30
37,"[US_334, paper_29]","[10.0, 45.0]","[2909.3, 2500.0]","[nan, nan]",27.50,2704.65,NaN
38,"[US_34, US_149]","[135.4, 869.5]","[4207.8, nan]","[119.3, nan]",502.45,4207.80,119.30
39,"[US_356, US_357]","[87.2, 438.0]","[11920.1, nan]","[nan, nan]",262.60,11920.10,NaN
40,"[US_358, US_359]","[1980.6, 1637.1]","[nan, nan]","[nan, nan]",1808.85,NaN,NaN
41,"[US_36, paper_37]","[0.4, 2.0]","[107.8, 63.0]","[nan, nan]",1.20,85.40,NaN
42,"[US_368, US_448]","[207.6, 130.0]","[nan, nan]","[nan, nan]",168.80,NaN,NaN
43,"[US_388, US_406]","[0.6, 0.9]","[40.2, 440.3]","[nan, nan]",0.75,240.25,NaN
44,"[US_45, paper_28]","[5.5, 15.0]","[840.0, 190.0]","[5.1, nan]",10.25,515.00,5.10
45,"[US_451, US_467, US_452]","[1.0, 2.0, 1.0]","[78.3, nan, 13.7]","[nan, nan, nan]",1.33,46.00,NaN
46,"[US_460, paper_34]","[27.0, 27.0]","[nan, 370.0]","[nan, nan]",27.00,370.00,NaN
47,"[US_462, paper_23]","[751.0, 750.0]","[nan, 10000.0]","[nan, nan]",750.50,10000.00,NaN
48,"[US_463, paper_22]","[12.0, 12.0]","[nan, 650.0]","[nan, nan]",12.00,650.00,NaN
49,"[US_464, paper_35]","[7.0, 7.0]","[nan, 97.0]","[nan, nan]",7.00,97.00,NaN
50,"[US_55, US_56]","[6131.3, 5916.7]","[nan, nan]","[22441.7, 5168.9]",6024.00,NaN,13805.30
51,"[US_65, US_66]","[3.2, 544.4]","[1332.6, nan]","[nan, nan]",273.80,1332.60,NaN

In [160]:
dup2['ID'] = dup2[0].apply(lambda lis: lis[-1])

In [161]:
dup2['SMILES'] = dup2['ID'].apply(lambda i: df[df.ID == i].SMILES.values.item())

In [167]:
dup3 = dup2[['ID','SMILES','IC50_mean','erk_IC50_mean','Kd_mean']].rename(columns = {'IC50_mean':'IC50','erk_IC50_mean':'erk_IC50','Kd_mean':'Kd'})

## remove duplicate items in the original df, and concatenate the duplicate table

In [170]:
unique_ids = set(t['ID1']).union(set(t['ID2']))

In [172]:
len(unique_ids)

114

In [173]:
df = df[~df['ID'].isin(unique_ids)]

In [185]:
df2 = pd.concat([df, dup3])

In [186]:
df2 = df2.drop(['with_3F','racemic_trans','mixture_isomer','trans','group'],axis=1).reset_index(drop=True)

check if any same smiles left

In [187]:
t2 = tanimoto(df2.copy())

In [188]:
t2

,ID1,ID2,SMILES1,SMILES2,SimilarityScore
0,31678_49,31678_50,N1(CCCC1)C(=O)OC[C@H]1CC[C@]2(CCCN12)COC=1N=C(C2=C(N1)C(=C(N=C2)C2=CC=CC1=CC=CC(=C21)Cl)F)NCC2(CCC2)N(C)C,N1(CCCCC1)C(=O)OC[C@H]1CC[C@]2(CCCN12)COC=1N=C(C2=C(N1)C(=C(N=C2)C2=CC=CC1=CC=CC(=C21)Cl)F)NCC2(CCC2)N(C)C,0.988764
1,US_443,US_444,Fc1c(ncc2c(nc(OC[C@]34CCCN3[C@@H](COC(=O)N3CCCC3)CC4)nc12)N1CC2CCC(C1)N2)-c1cccc2cccc(Cl)c12,Fc1c(ncc2c(nc(OC[C@]34CCCN3[C@@H](COC(=O)N3CCCCC3)CC4)nc12)N1CC2CCC(C1)N2)-c1cccc2cccc(Cl)c12,0.988235
2,31678_7,31678_30,CN(C1(CCCC1)CNC=1C2=C(N=C(N1)OC[C@]13CCCN3C[C@@H](C1)F)C(=C(N=C2)C2=CC(=CC1=CC=CC=C21)O)F)C,CN(C1(CCCCC1)CNC=1C2=C(N=C(N1)OC[C@]13CCCN3C[C@@H](C1)F)C(=C(N=C2)C2=CC(=CC1=CC=CC=C21)O)F)C,0.987500
3,31678_33,31678_34,CN(C1(CCC1)CNC=1C2=C(N=C(N1)OC[C@]13CCCN3C[C@@H](C1)F)C(=C(N=C2)C2=CC(=CC1=CC=CC(=C21)CC)O)F)C,CN(C1(CCCC1)CNC=1C2=C(N=C(N1)OC[C@]13CCCN3C[C@@H](C1)F)C(=C(N=C2)C2=CC(=CC1=CC=CC(=C21)CC)O)F)C,0.976744
4,31678_1,31678_7,CN(C1(CCC1)CNC=1C2=C(N=C(N1)OC[C@]13CCCN3C[C@@H](C1)F)C(=C(N=C2)C2=CC(=CC1=CC=CC=C21)O)F)C,CN(C1(CCCC1)CNC=1C2=C(N=C(N1)OC[C@]13CCCN3C[C@@H](C1)F)C(=C(N=C2)C2=CC(=CC1=CC=CC=C21)O)F)C,0.975000
...,...,...,...,...,...
217465,31678_13,646_22,ClC1=C(C(=C2C=NNC2=C1)C1=C(C=2N=C(N=C(C2C=N1)NCC1(CCC1)N(C)C)OC[C@]12CCCN2C[C@@H](C1)F)F)C,[C@H]12CN(C[C@H](CC1)N2)C=2C1=C(N=C(N2)OC)CN(CC1)C1=CC=CC2=CC=CC(=C12)C,0.113821
217466,31678_57,646_22,CN(C1(CCC1)CNC=1C2=C(N=C(N1)OC[C@]13CCCN3C[C@@H](C1)F)C(=C(N=C2)C2=CC(=CC1=CC=C(C(=C21)CC)F)O)F)C,[C@H]12CN(C[C@H](CC1)N2)C=2C1=C(N=C(N2)OC)CN(CC1)C1=CC=CC2=CC=CC(=C12)C,0.112000
217467,31678_46,646_22,CN(C(OC[C@H]1CC[C@]2(CCCN12)COC=1N=C(C2=C(N1)C(=C(N=C2)C2=CC(=CC1=CC=C(C(=C21)CC)F)O)F)NCC2(CCC2)N(C)C)=O)C,[C@H]12CN(C[C@H](CC1)N2)C=2C1=C(N=C(N2)OC)CN(CC1)C1=CC=CC2=CC=CC(=C12)C,0.105263
217468,31678_45,646_22,CN(C(OC[C@H]1CC[C@]2(CCCN12)COC=1N=C(C2=C(N1)C(=C(N=C2)C2=CC(=CC1=CC=C(C(=C21)C#C)F)O)F)NCC2(CCC2)N(C)C)=O)C,[C@H]12CN(C[C@H](CC1)N2)C=2C1=C(N=C(N2)OC)CN(CC1)C1=CC=CC2=CC=CC(=C12)C,0.104478
217469,31678_31,646_22,CN(C1(CCC1)CNC=1C2=C(N=C(N1)OCCC=1N(C=CN1)C)C(=C(N=C2)C2=CC(=CC1=CC=CC=C21)O)F)C,[C@H]12CN(C[C@H](CC1)N2)C=2C1=C(N=C(N2)OC)CN(CC1)C1=CC=CC2=CC=CC(=C12)C,0.103448

In [190]:
df2.to_csv('dedup_IC50.csv',index=False) # save to tools.dataset Data

In [189]:
df2

,ID,SMILES,Kd,IC50,erk_IC50
0,US_1,CN1CCC[C@H]1COc1nc(N2CC3CCC(C2)N3)c2cnc(cc2n1)-c1cc(O)cc2ccccc12,97.7,124.7,3159.1
1,US_4,Oc1cc(-c2ncc3c(nc(OCCc4ccccn4)nc3c2F)N2CC3CCC(C2)N3)c2ccccc2c1,155.7,496.2,8530.0
2,US_5,Cn1nccc1COc1nc(N2CC3CCC(C2)N3)c2cnc(c(F)c2n1)-c1cc(O)cc2ccccc12,294.8,722.9,8193.8
3,US_6,Cc1cccnc1CCOc1nc(N2CC3CCC(C2)N3)c2cnc(c(F)c2n1)-c1cc(O)cc2ccccc12,442.2,434.1,11518.2
4,US_7,Oc1cc(-c2ncc3c(nc(OCCc4ncccn4)nc3c2F)N2CC3CCC(C2)N3)c2ccccc2c1,463.5,1867.3,NaN
...,...,...,...,...,...
655,paper_23,FC1=C(C2=C(C=CC=C3)C3=CC(O)=C2)N=CC4=C1N=C(OCC56N(CCC6)C(CC5)=O)N=C4N7C[C@@H](CC8)N[C@@H]8C7,NaN,750.5,10000.0
656,paper_22,FC1=C(C2=C(C=CC=C3)C3=CC(O)=C2)N=CC4=C1N=C(OCC5(CCCC6)N6CCC5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,NaN,12.0,650.0
657,paper_35,FC1=C(C2=C(C(F)=C(F)C=C3)C3=CC=C2)N=CC4=C1N=C(OCC56N(CCC6)CCC5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,NaN,7.0,97.0
658,US_56,OC[C@@H](O)COc1nc(N2CC3CCC(C2)N3)c2cnc(c(F)c2n1)-c1cccc2cccc(Cl)c12,13805.3,6024.0,NaN
659,US_66,Fc1c(ncc2c(nc(OC[C@@]34CCCN3C(CCl)CC4)nc12)N1CC2CCC(C1)N2)-c1cccc2cccc(Cl)c12,NaN,273.8,1332.6